from os import environ

# This configuration is documented in README.md

JAMF_USERNAME = environ["JAMF_USERNAME"]
JAMF_PASSWORD = environ["JAMF_PASSWORD"]
JAMF_URL = environ["JAMF_URL"]
JAMF_SEARCH_TYPE = environ["JAMF_SEARCH_TYPE"]
JAMF_SEARCH_ID = environ["JAMF_SEARCH_ID"]
